/* Reset
========================================================================== */

%body {
  margin: 0;
  overflow: hidden;
  padding: 0;
}
html, body {
  @extend %body;
}
body {
  background: $blu-lht;
  color: $wht;
  font-family: 'Raleway', sans-serif;
  a {
    text-decoration: none;
  }
}


$smartphone: "only screen and (max-width: 599px)";
@media #{$smartphone} {
  html, body {
    overflow: visible;
  }
} // smartphone
