/* Ripple
================================================== */
@-webkit-keyframes ripple {
  0% {
    opacity: 1;
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  20% {
    opacity: 1;
    -webkit-transform: scale(25, 25);
    transform: scale(25, 25);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(40, 40);
    transform: scale(40, 40);
  }
}
@keyframes ripple {
  0% {
    opacity: 1;
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  20% {
    opacity: 1;
    -webkit-transform: scale(25, 25);
    transform: scale(25, 25);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(40, 40);
    transform: scale(40, 40);
  }
}

/* Pop Out
================================================== */
@-webkit-keyframes popOut {
  from {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  66% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes popOut {
  from {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  66% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* Bounce In
================================================== */
@-webkit-keyframes bounceIn {
  from, 60%, 70%, 80%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(.215, .610, .355, 1);
    animation-timing-function: cubic-bezier(.215, .610, .355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
  60% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  70% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }
  80% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  90% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes bounceIn {
  from, 60%, 70%, 80%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(.215, .610, .355, 1);
    animation-timing-function: cubic-bezier(.215, .610, .355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
  60% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  70% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }
  80% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  90% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

/* Slide Down
================================================== */
@-webkit-keyframes slideDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
